{% extends 'reservation/shop.html.twig' %}


{% block section1 %}
<section class="mypage"></section>
<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">


                    {% if items | length > 0 %}
                    <thead>
                    <tr>
                        <th scope="col"> </th>
                        <th scope="col">Product</th>
                        <th scope="col">Available</th>
                        <th scope="col" class="text-center">Quantity</th>
                        <th scope="col" class="text-right">Price</th>
                        <th> </th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for item in items %}
                    </thead>
                    <tbody>
                    <tr>
                        <td><img src="#" class="fixedimagepan"/> </td>

                        <td>{{ item.hotel.nom}}</td>
                        <td>In stock</td>

                        <td><p class="form-control" />{{ item.quantity}}</p></td>
                        <td class="text-right">{{ item.hotel.prix * item.quantity}} dt</td>





                        <td>
                        <td class="text-right"><a href="{{ path('cart_remove', {'id': item.hotel.idh}) }}" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </a> </td>



                        </td>
                    </tr>

                    {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Sub-Total</td>
                        <td class="text-right">{{ total }} dt</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Tax (12%)</td>
                        <td class="text-right">{{(total * 12)/ 100 }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><strong>Total</strong></td>
                        <td class="text-right"><strong>{{ total * 1.12 }}</strong></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6">
                    <a href="{{path('vaccin_index')}}"class="btn btn-block btn-light">Continue Shopping</a>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <a href="{{ path('reservation_panier_new',{'total':total}) }}" class="btn btn-lg btn-block btn-success text-uppercase">Checkout</a>
                </div>
            </div>
        </div>


        {% else %}


            <p>Surprise! c'est vide
            </p>

        {% endif %}


        {% endblock %}





