{% extends 'base.html.twig' %}
{% block body %}
    /* Cette partie correspond à l’affichage de la liste des étudiants en listant leurs informations dans un tableau */
    <img width="200px;" src="assets/img/esprit.png" alt="Mon logo">
    <h1 id="dd1"> Liste des étudiants</h1>
    </br>
    <div style="margin-right:50px;" class="btn btn-primary" ><a href="{{ path('addStudent') }}"> Ajouter Etudiant</a></div>
    </div>
    <input type="text" id="search" class="form-control" placeholder="Search">
    <div>
        <table border ="1" id="t" class="table table-hover table-dark">
            <thead class="thead-dark">
            <tr>
                <td  >ID</td>
                <td >NSC</td>
                <td >Email</td>
                <td >Editer</td>
            </tr>
            </thead>
            <tbody id="all">
            {% for c in hotel %}
                <tr>
                    <td>
                        {{ c.id }}
                    </td>
                    <td>
                        {{ c.nsc }}
                    </td>
                    <td>
                        {{ c.email }}
                    </td>
                    <td>
                        <a href="{{ path('updateStudent', {'id': c.id}) }}"> modifier</a>
                        <a href="{{ path('deleteStudent', {'id': c.id}) }}"> supprimer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tbody id="search">
            </tbody>
        </table>
    </div>
{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
</script>
<script>
    $( document ).ready(function() {
        $("#search").keyup(function(e){
            /* La variable value va prendre la valeur insérer dans le champ de texte afin d’effectuer la recherche */
            var value = $(this).val();
    /* Ajax est lancé lors du remplissage du champ texte dont l’id est « search » pour faire la recherche */
            $.ajax({
                /* l’url est une chaine de caractères contenant l’adresse où la requête est envoyée */
                url : "{{ path('studentListx') }}",
                /* La méthode utilisée pour transférer les données est GET */
                type : 'GET',
                /*Ici search value va prendre la chaine entrée par un utilisateur dans la zone de recherche et sera placée après l’url */
                data: {
                    'searchValue' : value
                },
                /*Cette fonction permet de vider le contenu du tableau pour recevoir le nouveau contenu*/
                success : function(retour){
                    if(retour){
                        $('#t tbody#search').empty();
                        $.each(JSON.parse(retour), function(i, obj) {
                            $('#t tbody#all').hide();
                            $('#t tbody#search').append('<tr><td> '+obj.id+'  </td><td>    '+obj.nsc+'  </td><td>'+obj.email+' </td><td><a href="updateStudent/'+obj.id+'">modifier</a> </br><a href="deleteStudent/'+obj.id+'">supprimer</a></td></tr>');
                        });
                    }
                    else
                    {
                        $('#t tbody#all').show();
                        $('#t tbody#search').empty();
                        $('#t tbody#search').fadeIn('fast');
                    }
                },
            });
            return false;
        });
    });
</script>
