{% extends 'base2.html.twig' %}


{% block html %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% block body %}

<h2>Liste des Equipements </h2>
<form method="post" action="{{ path('recherche') }}">
    <label>Search</label>
    <input type="text" name="search"><input class="btn btn-success" type="submit" value="Recherche">
</form>
<table border="" class="table table-striped custom-table">
    <tr>
        <th>ID</th>
        <th>equipement</th>
        <th>code</th>
        <th>etat</th>
        <th>employe</th>
        <th>Update</th>
        <th>Delete</th>


    </tr>
    <tr {%  for c in books %}>
        <td>{{c.id}}</td>
        <td>{{ c.equipement }}</td>
        <td>{{ c.code }}</td>
        <td>{{ c.etat }}</td>
        <td>{{ c.employe }}</td>
        <td><a href=" {{ path('updateE',{'id':c.id}) }}" class="nav-link">Update</a></td>
        <td><a href=" {{ path('d',{'id':c.id}) }}" class="nav-link">Delete</a></td>
    </tr{% endfor %} >
</table>
    <form method="post" action="{{ path('triEqui') }}">
        <input class="btn btn-success" type="submit" value="Tri">
    </form>
        <form method="post" action="{{ path('ajout') }}">
            <input class="btn btn-success" type="submit" value="Ajouter">

    </form>
{% endblock %}
</body>
</html>
{% endblock %}