{% extends 'base2.html.twig' %}
{% block html %}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    {% block body %}
        <body>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


        <div class="block-content block-content-full">
            <!-- DataTables init on table by adding .js-dataTable-full class, functionality is initialized in js/pages/be_tables_datatables.min.js which was auto compiled from _es6/pages/be_tables_datatables.js -->
            <table class="table table-bordered table-striped table-vcenter js-dataTable-full">
                <thead>
                <tr>
                    <th class="text-center" style="width: 80px;">ID</th>
                    <th class="d-none d-sm-table-cell" style="width: 15%;">Marque</th>
                    <th class="d-none d-sm-table-cell" style="width: 20%;" >Etat</th>
                    <th class="d-none d-sm-table-cell" style="width: 15%;">Prix</th>
                    <th class="d-none d-sm-table-cell" style="width: 15%;">Id de Transport</th>
                    <th class="d-none d-sm-table-cell" style="width: 15%;">Date de Creation</th>
                    <th class="d-none d-sm-table-cell" style="width: 15%;">Date de Modification</th>
                    <th class="d-none d-sm-table-cell" style="width: 15%;">Modifier </th>
                    <th class="d-none d-sm-table-cell" style="width: 15%;">Supprimer</th>
                </tr>
                </thead>
                <tbody{%  for dt in detail %}>
                <tr>
                    <td class="text-center font-size-sm">{{dt.id}}</td>
                    <td class="d-none d-sm-table-cell">
                        <p class="badge badge-success">{{dt.marque}}</p>
                    </td>
                    <td class="font-w600 font-size-sm">
                        <em class="text-muted">{{ dt.etat}}</em>
                    </td>
                    <td class="d-none d-sm-table-cell font-size-sm" >
                        <em class="text-muted">{{ dt.prix}}</em>
                    </td>
                    <td>
                        <em class="text-muted font-size-sm">{{ dt.transport.id }}</em>
                    </td>
                    <td>
                        <em class="text-muted font-size-sm">{{dt.dateCreation|date('Y-m-d H:i:s') }}</em>
                    </td>
                    <td>
                        <em class="text-muted font-size-sm">{{ dt.dateModification|date('Y-m-d H:i:s') }}</em>
                    </td>

                    <td><a class="badge badge-danger" href=" {{ path('updated',{'id':dt.id}) }}" class="nav-link">Update</a></td>
                    <td><a class="badge badge-info" href=" {{ path('dt',{'id':dt.id}) }}" class="nav-link">Delete</a></td>

                </tr>
                </tbody {% endfor %}>
            </table>
        </div>
        <form method="post" action="{{ path('ajoutdetailt') }}">
            <input class="btn btn-success" type="submit" value="Ajouter">
        </form>

        </body>

    {% endblock %}
    </html>
{% endblock %}
