{% extends 'base2.html.twig' %}
{% block html %}


{% block body %}


    {% for message in app.flashes('info') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<h2>Liste des transports</h2>


    <div class="block-content block-content-full">

        <!-- DataTables init on table by adding .js-dataTable-full class, functionality is initialized in js/pages/be_tables_datatables.min.js which was auto compiled from _es6/pages/be_tables_datatables.js -->
        <table class="table table-bordered table-striped table-vcenter js-dataTable-full">
            <thead>
            <tr>
                <th class="text-center" style="width: 80px;">ID</th>
                <th class="d-none d-sm-table-cell" style="width: 15%;">Type</th>
                <th class="d-none d-sm-table-cell" style="width: 20%;" >Date </th>
                <th class="d-none d-sm-table-cell" style="width: 15%;">Prix</th>
                <th class="d-none d-sm-table-cell" style="width: 15%;">Path</th>
                <th class="d-none d-sm-table-cell" style="width: 15%;">Départ</th>
                <th class="d-none d-sm-table-cell" style="width: 15%;">Arriver</th>
                <th class="d-none d-sm-table-cell" style="width: 15%;">Chauffeur</th>
                <th class="d-none d-sm-table-cell" style="width: 15%;">Availability </th>
                <th class="d-none d-sm-table-cell" style="width: 15%;">Modifier </th>
                <th class="d-none d-sm-table-cell" style="width: 15%;">Supprimer</th>
            </tr>
            </thead>
            <tbody{%  for t in transport %}>
            <tr>
                <td class="text-center font-size-sm">{{t.id}}</td>
                <td class="d-none d-sm-table-cell">
                    <p class="badge badge-success">{{t.nom}}</p>
                </td>
                <td class="font-w600 font-size-sm">
                    <em class="text-muted">{{ t.date |date('d-m-Y')}}</em>
                </td>
                <td class="d-none d-sm-table-cell font-size-sm" >
                    <em class="text-muted">{{ t.prix}}</em>
                </td>
                </td>
                <td class="d-none d-sm-table-cell font-size-sm" >
                    <em class="text-muted">{{ t.path}}</em>
                </td>
                <td>
                    <em class="text-muted font-size-sm">{{ t.apartir}}</em>
                </td>
                <td>
                    <em class="text-muted font-size-sm">{{ t.vers}}</em>
                </td>
                <td>
                    <em class="text-muted font-size-sm">{{ t.driver }}</em>
                </td>

                <td>
                    <em class="text-muted font-size-sm">{{ t.availability }}</em>
                </td>



                <td><a class="badge badge-danger" href=" {{ path('update',{'id':t.id}) }}" class="nav-link">Update</a></td>
                <td><a class="badge badge-info" href=" {{ path('d',{'id':t.id}) }}" class="nav-link">Delete</a></td>

            </tr>






            </tbody {% endfor %}>
        </table>
    </div>



<form method="post" action="{{ path('tri') }}">
    <input class="btn btn-success" type="submit" value="Tri">
</form>

    <form method="post" action="{{ path('asc') }}">
        <input class="btn btn-info" type="submit" value="asc">
    </form>


    <form method="post" action="{{ path('ajouttransport') }}">
        <input class="btn btn-success" type="submit" value="Ajouter">
    </form>



{% endblock %}

{% endblock %}