<!DOCTYPE html>
<html lang="zxx">

<head>



    <title>{% block title %}Total-fitness{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="description" content="Game Warrior Template">
    <meta name="keywords" content="warrior, game, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->



    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i" rel="stylesheet">
    {% block css%}
        <!-- Stylesheets -->
        <link rel="stylesheet" href="{{asset('front/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{asset('front/css/style.css')}}">

    {% endblock %}
    {% block js %}
        <!--[if lt IE 9]>
<script src="{{asset('https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')}}"></script>
<script src="{{asset('https://oss.maxcdn.com/respond/1.4.2/respond.min.js')}}"></script>


    <![endif]-->
    {% endblock %}
</head>
 <div class="logo_container">
                            <div class="logo"><a href="#"><img src="{{ asset('travelix/images/xlogo.png.pagespeed.ic.WwqX_K06Sn.png')}}  " alt="">Aero Space</a></div>
                        </div>
<!-- Header section -->
<header class="header-section">
   {% if not app.user  %}
        <div class="user-panel">
            <a href="{{ path('app_login') }}">Login</a>  /  <a href="{{ path('user_newf') }}">Register</a>
        </div>
        {% else  %}
        <div class="user-panel">
            <img src="{{asset ('images/salles/'~ app.user.imageName)}}" style="width: 30px;" >


            <a>{{app.user.nom}} {{app.user.prenom}}      </a> <a href="{{ path('app_logout') }}">Logout</a>
            </div>

        <!-- Pop-up -->

            {% endif  %}
        <!-- responsive -->

        <!-- site menu -->
        <nav class="main-menu">

        </nav>
    </div>
</header>

<!-- Header section end -->


{% block body %}




{% endblock %}



        <!--====== Javascripts & Jquery ======-->

        <script src="{{asset('front/js/jquery-3.2.1.min.js')}}"></script>
        <script src="{{asset('front/js/bootstrap.min.js')}}"></script>
        <script src="{{asset('front/js/owl.carousel.min.js')}}"></script>
        <script src="{{asset('front/js/jquery.marquee.min.js')}}"></script>
        <script src="{{asset('front/js/main.js')}}"></script>
        <!-- Button -->






</html>
